<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Path FInder</title>
</head>
<body>
    <div class="content">
        <h1 style="text-align: center">Path Finder</h1>
    
        <div class="form">
            <form style="text-align: center; " action="/" method="POST">
                <p>
                <label for="startPoint">Start Point:</label>
                <input type="text" name="startPoint" id="startPoint">
            </p>
                <p>
                <label for="endPoint">End Point:</label>
                <input type="text" name="endPoint" id="endPoint">
            </p>
                <input type="submit" value="Find">
            </form>
        </div>
    </div>
</body>
</html>